
  
  
  
  
  
  
  .d-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .small {
    font-size: 15px;
  }
  
  table.table {
    width: 100%; 
    margin: auto;   
    max-width: 1000px; 
  }
  
  table.table tr {
    height: 20px; 
  }
  
  table.table td,
  table.table th {
    padding: 20px; 
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
  }
  header {
      
      max-width: 75rem;
      margin: 1.1rem auto;
      padding: .9rem;
      background: #fff; 
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      
  
    }
    
    img {
      height: 100px;
    }
    
    nav ul {
      display: flex;
      margin-left: 50px; /* Mueve la lista de enlaces al lado derecho */
    }
    
    nav ul li {
      list-style: none;
      margin-left: 10px;
    }
    
    nav ul li a {
  
      margin: .6rem 0;
      padding: .6rem 1.25rem;
      text-decoration: none;
      color: #262626;
    }
    
    nav ul li a.active,
    nav ul li a:hover {
      background: #063b00;
      color: #fff;
      transition: .5s;
    }
    
    .logout-form {
      margin-right: 0;
    }
    .logout-button {
      padding: 5px 10px;
      background-color: rgb(153, 0, 0);
      font-size: 14px;
      color: #fff;
      border-radius: 5px;
      margin-left: 25px;
      cursor: pointer;
    }